body{
    font-family:Georgia, Arial, Helvetica, Sans-serif,serif;
    font-size:15px;
    color:#000;
    background:#fff;
}

h1 {
    font-size:50px;
}

h3 {
    font-size:22px;
}

#p01 {
  color: blue;
}

.error {
  color: red;
}
